.uploaderContainer {
    display: flex;
    justify-content: center;
    align-content: center;
}

.uploadFileDiv {
    border-radius: 5px;
    margin: 5px 5px 5px 5px;
}

.uploadCameraDiv {
    border-radius: 5px;
    margin: 5px 5px 5px 5px;
}

#uploadCamera {
    display: none;
}

#uploadFile {
    display: none;
}
