.NavBarDiv {
    display: flex;
    background-color: mediumslateblue;
}

.NavBarDiv ul {
    list-style-type: none;
    display: flex;
}

.NavBarDiv li {
    margin: 0px 10px 2px 10px;
}

.NavBarDiv li:hover {
    background-color: gray;
}